In [11]:
import psycopg2
import csv
import pandas as pd

ImportError: No module named 'pandas'

In [ ]:
#db connection
conn = psycopg2.connect(host='localhost', dbname='linewalks_db', user='postgres', password='', port='5432')
cur = conn.cursor()

In [ ]:
#create table person
cur.execute("CREATE TABLE person (person_id int, gender_concept_id int, birth_datetime timestamp, race_concept_id int, ethnicity_concept_id int);")

In [3]:
#insert rows into person
f = open('./synthea_cdm_csv/person.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    person_id = row[0]
    gender_concept_id = row[1]
    birth_datetime = row[5]
    race_concept_id = row[6]
    ethnicity_concept_id = row[7]
    cur.execute("INSERT INTO person (person_id, gender_concept_id,birth_datetime,race_concept_id,ethnicity_concept_id) VALUES(%s,%s,%s,%s,%s)",(person_id,gender_concept_id,birth_datetime,race_concept_id,ethnicity_concept_id))

In [220]:
#check person data
cur.execute("SELECT count(*) FROM person;")
print (cur.fetchone())

(1000,)

In [118]:
#create table visit_occurrence
cur.execute("CREATE TABLE visit_occurrence (visit_occurrence_id int, person_id int, visit_concept_id int, visit_start_datetime timestamp, visit_end_datetime timestamp);")

In [4]:
#insert rows into visit_occurrence
f = open('./synthea_cdm_csv/visit_occurrence.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    cur.execute("INSERT INTO visit_occurrence (visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime) VALUES(%s,%s,%s,%s,%s)",(row[0],row[1],row[2],row[4],row[6]))

In [5]:
#check visit_occurrence data
cur.execute("SELECT count(*) FROM visit_occurrence;")
print (cur.fetchone())

In [214]:
#create table condition_occurrence
cur.execute("CREATE TABLE condition_occurrence (person_id int, condition_concept_id varchar, condition_start_datetime timestamp, condition_end_datetime timestamp, visit_occurrence_id int);")

In [7]:
#insert rows into condition_occurrence
f = open('./synthea_cdm_csv/condition_occurrence.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    if row[6]=='':
        row[6]=None
    cur.execute("INSERT INTO condition_occurrence (person_id, condition_concept_id, condition_start_datetime, condition_end_datetime, visit_occurrence_id) VALUES(%s,%s,%s,%s,%s)",(row[1],row[2],row[4],row[6],row[10]))

In [230]:
#check condition_occurrence data
cur.execute("SELECT count(*) FROM condition_occurrence;")
print (cur.fetchone())

(12167,)

In [248]:
#create table drug_exposure
cur.execute("CREATE TABLE drug_exposure (person_id int, drug_concept_id int, drug_exposure_start_datetime timestamp, drug_exposure_end_datetime timestamp, visit_occurrence_id int);")

In [8]:
#insert rows into drug_exposure
f = open('./synthea_cdm_csv/drug_exposure.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    if row[6]=='':
        row[6]=None
    cur.execute("INSERT INTO drug_exposure (person_id, drug_concept_id, drug_exposure_start_datetime, drug_exposure_end_datetime, visit_occurrence_id) VALUES(%s,%s,%s,%s,%s)",(row[1],row[2],row[4],row[6],row[17]))

In [250]:
#check drug_exposure data
cur.execute("SELECT count(*) FROM drug_exposure;")
print (cur.fetchone())

(46579,)

In [280]:
#create table concept
cur.execute("CREATE TABLE concept (concept_id int, concept_name varchar, domain_id varchar);")

In [9]:
#insert rows into concept
f = open('./synthea_cdm_csv/concept.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    cur.execute("INSERT INTO concept (concept_id, concept_name, domain_id) VALUES(%s,%s,%s)",(row[0],row[1],row[2]))

In [ ]:
#check concept data
cur.execute("SELECT count(*) FROM concept;")
print (cur.fetchone())

In [ ]:
#create table death
cur.execute("CREATE TABLE death (person_id int, death_date timestamp);")

In [ ]:
#insert rows into concept
f = open('./synthea_cdm_csv/death.csv','r')
csvReader = csv.reader(f)
next(csvReader)
for row in csvReader:
    print(row)
    cur.execute("INSERT INTO death (person_id, death_date) VALUES(%s,%s)",(row[0],row[1]))

In [ ]:
conn.commit() 
conn.close()